@font-face {
    font-family: 'cardo-regular';
    src: url('assets/fonts/Cardo-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }  
html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: 'cardo-regular';
    justify-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("./assets/images/backgroundBooks.jpg");
    overflow: auto;
  }
  * {
    box-sizing: border-box;
  }

  .header {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 20px 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    font-family: 'cardo-regular';
    width: 80%;
    display: grid;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    margin: auto;
    padding-bottom: 5%;
    
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 10px;
    /* padding-top: 0px!important; */
  }
#imageCol {
    text-align:center;
    margin:0 auto;
    align-items: center;
    display:inline-block;
    vertical-align: middle !important;
}

#bookDetailsId {
    text-align: center;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .container button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    width: 50%;
    font-size: 14px;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      padding: 0 10px;
      display:inline-block;
      margin-bottom: 20px;
      float: none; 
      
    }
    .column h1 {
        font-size: 15px;
    }

    .column h2 {
        font-size: 13px;
    }

    .column h3 {
        font-size: 10px;
    }
    .container button {
        font-size: 12px;
    }
  
    .row {
      text-align:center;
      margin:0 auto;
    }
}

 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #abd4f0;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
  justify-content: center;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}